code/Advanced/FTP/flows.json
[{"id":"16ce71efbd6c972c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"df95a89ea3229526","type":"ftp-server","z":"16ce71efbd6c972c","name":"Vos Ftp \\n In","ip":"","port":7021,"passiveportrange":"","x":70,"y":80,"wires":[["4bbb42cfd3852639"],[]]},{"id":"4bbb42cfd3852639","type":"base64","z":"16ce71efbd6c972c","name":"","action":"","property":"payload","x":260,"y":80,"wires":[["8f0a2e518d12271e"]]},{"id":"8f0a2e518d12271e","type":"template","z":"16ce71efbd6c972c","name":"ftp mustache \\n template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":470,"y":80,"wires":[["ed97ad538d966b64"]]},{"id":"ed97ad538d966b64","type":"ui_template","z":"16ce71efbd6c972c","group":"e8754b3de7a826d3","name":"ftp ui \\n template","order":1,"width":"7","height":"6","format":"<div ng-bind-html=\"msg.payload\",div style=\"text-align: center;\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":660,"y":80,"wires":[[]]},{"id":"6211929a3497d52a","type":"tcp in","z":"16ce71efbd6c972c","name":"Vos Tcp \\n In","server":"client","host":"192.168.10.143","port":"5024","datamode":"stream","datatype":"utf8","newline":"","topic":"Status","base64":false,"tls":"","x":70,"y":320,"wires":[["c64f262915b8d356"]]},{"id":"f27a8c2308f9faac","type":"template","z":"16ce71efbd6c972c","name":"tcp mustache\\n template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload}}} ","output":"str","x":480,"y":320,"wires":[["8269dddc9ad846e8"]]},{"id":"8269dddc9ad846e8","type":"ui_template","z":"16ce71efbd6c972c","group":"e8754b3de7a826d3","name":"tcp ui \\n template","order":2,"width":"7","height":"4","format":"<div ng-bind-html=\"msg.payload\",div style=\"text-align: center;\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":660,"y":320,"wires":[[]]},{"id":"c64f262915b8d356","type":"function","z":"16ce71efbd6c972c","name":"Replace new line \\n with <br>","func":"msg.payload = msg.payload.replace(/\\n/g,\"<br/>\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":320,"wires":[["f27a8c2308f9faac"]]},{"id":"e8754b3de7a826d3","type":"ui_group","name":"","tab":"ffbd2af751edcf1b","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"ffbd2af751edcf1b","type":"ui_tab","name":"VOS","icon":"dashboard","disabled":false,"hidden":false}]